In [1]:
import os
import sqlite3
import pandas as pd

!wget 'https://raw.githubusercontent.com/AbstractMonkey/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv'
data = pd.read_csv('buddymove_holidayiq.csv', error_bad_lines=False)

--2019-11-21 02:23:02--  https://raw.githubusercontent.com/AbstractMonkey/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7566 (7.4K) [text/plain]
Saving to: ‘buddymove_holidayiq.csv’

buddymove_holidayiq 100%[===================>]   7.39K  --.-KB/s    in 0s

2019-11-21 02:23:02 (98.2 MB/s) - ‘buddymove_holidayiq.csv’ saved [7566/7566]

In [2]:
data.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [3]:
# Instantiate empty SQL database
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

# Convert DataFrame to SQL database
data.to_sql('review', conn)

csr = conn.cursor()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Count how many rows you have - it should be 249!

In [4]:
csr.execute("SELECT COUNT(*) FROM review").fetchall()

[(249,)]

How many users who reviewed at least 100 Nature in the category also reviewed at least 100 in the Shopping category?

In [10]:
csr.execute("SELECT COUNT(*) FROM review WHERE Nature > 100 AND Shopping > 100").fetchall()

[(78,)]

(Stretch) What are the average number of reviews for each category?

In [0]:
categories = ['Sports',	'Religious', 'Nature',	'Theatre', 'Shopping',	'Picnic']

In [31]:
for cat in categories:
  print(cat, csr.execute("SELECT AVG({}) FROM review".format(cat)).fetchall())

Sports [(11.987951807228916,)]
Religious [(109.77911646586345,)]
Nature [(124.51807228915662,)]
Theatre [(116.37751004016064,)]
Shopping [(112.63855421686748,)]
Picnic [(120.40160642570281,)]

Your code (to reproduce all above steps) should be saved in buddymove_holidayiq.py, and added to the repository along with the generated SQLite database.

In [20]:
csr.execute("SELECT * FROM review LIMIT 10").fetchall()

[(0, 'User 1', 2, 77, 79, 69, 68, 95),
 (1, 'User 2', 2, 62, 76, 76, 69, 68),
 (2, 'User 3', 2, 50, 97, 87, 50, 75),
 (3, 'User 4', 2, 68, 77, 95, 76, 61),
 (4, 'User 5', 2, 98, 54, 59, 95, 86),
 (5, 'User 6', 3, 52, 109, 93, 52, 76),
 (6, 'User 7', 3, 64, 85, 82, 73, 69),
 (7, 'User 8', 3, 54, 107, 92, 54, 76),
 (8, 'User 9', 3, 64, 108, 64, 54, 93),
 (9, 'User 10', 3, 86, 76, 74, 74, 103)]

In [26]:
csr.execute("PRAGMA table_info('review')").fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'User Id', 'TEXT', 0, None, 0),
 (2, 'Sports', 'INTEGER', 0, None, 0),
 (3, 'Religious', 'INTEGER', 0, None, 0),
 (4, 'Nature', 'INTEGER', 0, None, 0),
 (5, 'Theatre', 'INTEGER', 0, None, 0),
 (6, 'Shopping', 'INTEGER', 0, None, 0),
 (7, 'Picnic', 'INTEGER', 0, None, 0)]